<%= form_with model: @project, url:sponsor_dashboard_create_path do |form| %>
  <div>
    <%= form.label "Project Name", class: "form_label" %><br>
    <%= form.text_field :name, class: "form_text" %><br>
    <%= form.label "Short Description", class: "form_label" %><br>
    <%= form.text_field :short_desc, class: "form_text" %><br>
    <%= form.label "Long Description", class: "form_label" %><br>
    <%= form.text_field :long_desc, class: "form_text" %><br>
    <%= form.label "Domains", class: "form_label" %><br>
    <div style="width:40rem">
      <%= form.collection_select :domains, Domain.all, :id, :name, {}, {multiple: true, class: "form-select", id: "collection-select", data: { controller: "choices" }} %>
    </div>
    <%= form.submit "Create Project", {class:"submit_button"} %>
  </div>
<% end %>
