<%= search_form_for(@q, url: sponsors_path) do |form| %>
  <%= form.label :organization_cont %><br>
  <%= form.text_field :organization_cont %><br>
  <%= form.label :domain %>
  <div style="width:40rem">
    <%= form.collection_select :domains_id_in, @domains, :id, :name, {}, {id: "collection-select", multiple: true, data: { controller: "choices" }} %>
  </div>
  <%= form.submit "Search Users", class: "btn btn-primary" %>
<% end %>
<table class="fl-table">
  <thead>  
    <tr>
      <th>Organization</th>
      <th>Domains Worked With</th>
      <th>Contact Info</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %> 
      <tr>
        <td><%= user.organization %></td>
        <td><%= user.domains.pluck(:name) %></td>
        <td><%= user.contact %></td>
      </tr>
    <% end %>
  </tbody>
</table>
